BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -4
PointerAlignment: Left
ReferenceAlignment: Left
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 120
BinPackArguments: true
BinPackParameters: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
PackConstructorInitializers: BinPack
BreakBeforeBraces: Attach
AlwaysBreakAfterReturnType: None
BreakAfterAttributes: Never
SortIncludes: Never
SortUsingDeclarations: Never
ReflowComments: false
BreakStringLiterals: false
FixNamespaceComments: false
